/* Responsive portfolio local styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url("./m3-graywall1.bmp");
  background-repeat: repeat;
}

/* header {
    /* padding: 20px;    
} */

.container {
  /* Box-model */
  width: 1024px;
  /* Positioning */
  padding: 40px auto;
  margin-top: 40px;
  background: #fff;
}

.navbar-brand {
  padding: 20px;
  margin-left: -20px;
  font-size: 36px;
  background: rgb(34, 13, 228);
}
.nav-tabs {
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

/* .nav-link {
    padding-right: .5rem;
} */

hr {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(23, 63, 66);
}

/* about me page  */
.bio-image {
  width: 200px;
  height: 265px;
  margin-right: 20px;
  float: left;
}

/* portfolio page  */

/* contact page  */
.contact-me {
  padding-bottom: 20px;
}



/* @media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
/*  body {
    background-color: #333;
  }

  /* The wrapper's width will be 600px */
/*  .wrapper {
    width: 600px;
  }
} */

