/* Responsive portfolio local styles */

/* header {
    /* padding: 20px;    
} */

.navbar-brand {
    font-size: 36px;
    /* color: #eeeeee; */
}
.navbar-nav {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    /* color: #eeeeee; */
}
/* .nav-link {
    padding-right: .5rem;
} */

.container {
    margin-top: 10px;
}

.bio-image {
  width: 200px;
  height: 265px;
  margin-right: 20px;
  float: left;
}




/* @media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
/*  body {
    background-color: #333;
  }

  /* The wrapper's width will be 600px */
/*  .wrapper {
    width: 600px;
  }
} */

